iframe {
  border: none;
}

body {
  height: 100%;
  overflow: hidden;
}

html {
  height: 100%;
  background-color: rgb(28, 31, 34);
  overflow: hidden;
}

button {
  background-color: rgb(44, 49, 53);
  color: white;
  border: none;
}

button[buttonIconType=CROSS] {
  top: 8px !important;
  right: 8px !important;
  transform: rotateZ(45deg) !important;
  font-size: 30px !important;
  background-color: rgba(0, 0, 0, 0) !important;
  color: white !important;
}

button[buttonIconType=CROSS]:hover {
  background-color: rgba(0, 0, 0, 0) !important;
  color: rgb(82, 90, 95) !important;
}

button[buttonIconType=CROSS]:active {
  background-color: rgba(0, 0, 0, 0) !important;
  color: rgb(30, 34, 37) !important;
}

button[selected] {
  background-color: rgb(21, 23, 25);
}

button:not([disabled]):hover {
  background-color: rgb(62, 70, 75);
}

button:not([disabled]):active {
  background-color: rgb(30, 34, 37);
}

option, select {
  background-color: rgb(44, 49, 53);
  color: white;
  border: none;
  height: 40px;
  outline: none;
}

input {
  background-color: rgb(44, 49, 53);
  color: white;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 10px;
}

h1, h2, h3, h4, h5, h6, span, p, label {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

::-webkit-scrollbar-track:hover {
  background-color: rgb(50, 50, 50);
  width: 10px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(120, 120, 120);
  width: 10px;
  border-radius: 5px;
}

:not(:hover)::-webkit-scrollbar {
  display: none;
}

#alertMainDiv {
  width: auto;
  height: auto;
  min-width: 200px;
  min-height: 50px;
  max-width: 700px;
  max-height: 96%;
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(64, 69, 73);
  padding: 20px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 9999999999;
}

#alertMainDiv[closeAlert] {
  --time: 200ms;
  display: block !important;
  animation: closeAlert var(--time) ease-in 0ms 1;
}

#alertMainDiv[openAlert] {
  --time: 200ms;
  display: block !important;
  animation: openAlert var(--time) ease-in 0ms 1;
}

#alertMainDiv[type=SUCCESS] {
  background-color: color-mix(in srgb, rgb(64, 69, 73) 75%, rgb(0, 255, 0) 25%);
}

#alertMainDiv[type=ERROR] {
  background-color: color-mix(in srgb, rgb(64, 69, 73) 75%, rgb(255, 0, 0) 25%);
}

#alertMainDiv[type=INFO] {
  background-color: color-mix(in srgb, rgb(64, 69, 73) 75%, rgb(43, 195, 255) 25%);
}

#alertMainDiv[type=WARNING] {
  background-color: color-mix(in srgb, rgb(64, 69, 73) 75%, rgb(255, 255, 0) 25%);
}

#closeMessage {
  position: sticky;
  float: right;
  z-index: 10000000000;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0);
  color: black;
  transform: rotate(45deg);
}

#closeMessage:hover {
  color: rgb(82, 90, 95);
}

#closeMessage:active {
  color: rgb(30, 34, 37);
}

#alertTextField {
  font-size: 15px;
  word-wrap: break-word;
}

@keyframes closeAlert {
  0% {
    transform: translateY(0%) translateX(-50%);
  }
  100% {
    transform: translateY(-100%) translateX(-50%);
  }
}
@keyframes openAlert {
  0% {
    transform: translateY(-100%) translateX(-50%);
  }
  100% {
    transform: translateY(0%) translateX(-50%);
  }
}/*# sourceMappingURL=alertStyle.css.map */