/* #navigationBar2{
    float: left;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    display: grid;
    width: 1000px;
    padding: 0px;
}
#navigationBar2 button{
    height: 50px;
    padding: 0px;
} */