iframe {
  border: none;
}

body {
  height: 100%;
  overflow: hidden;
}

html {
  height: 100%;
  background-color: rgb(28, 31, 34);
  overflow: hidden;
}

button {
  background-color: rgb(44, 49, 53);
  color: white;
  border: none;
}

button[buttonIconType=CROSS] {
  top: 8px !important;
  right: 8px !important;
  transform: rotateZ(45deg) !important;
  font-size: 30px !important;
  background-color: rgba(0, 0, 0, 0) !important;
  color: white !important;
}

button[buttonIconType=CROSS]:hover {
  background-color: rgba(0, 0, 0, 0) !important;
  color: rgb(82, 90, 95) !important;
}

button[buttonIconType=CROSS]:active {
  background-color: rgba(0, 0, 0, 0) !important;
  color: rgb(30, 34, 37) !important;
}

button[selected] {
  background-color: rgb(21, 23, 25);
}

button:not([disabled]):hover {
  background-color: rgb(62, 70, 75);
}

button:not([disabled]):active {
  background-color: rgb(30, 34, 37);
}

option, select {
  background-color: rgb(44, 49, 53);
  color: white;
  border: none;
  height: 40px;
  outline: none;
}

input {
  background-color: rgb(44, 49, 53);
  color: white;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 10px;
}

h1, h2, h3, h4, h5, h6, span, p, label {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

::-webkit-scrollbar-track:hover {
  background-color: rgb(50, 50, 50);
  width: 10px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(120, 120, 120);
  width: 10px;
  border-radius: 5px;
}

:not(:hover)::-webkit-scrollbar {
  display: none;
}

#messageDiv {
  width: auto;
  height: auto;
  position: fixed;
  left: 50%;
  transform: translateX(-50%) translateY(-2000%);
  opacity: 0;
  z-index: 18;
}

#message {
  position: sticky;
  float: left;
  z-index: 19;
  margin: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#messageDiv[type=success] {
  background-color: rgb(28, 31, 34);
  opacity: 1;
}

#messageDiv[type=error] {
  background-color: rgb(255, 0, 0);
  opacity: 1;
}

#closeMessage {
  position: sticky;
  float: right;
  z-index: 20;
  font-size: 10px;
  background-color: rgba(0, 0, 0, 0);
  color: black;
}

#messageDiv[show] {
  animation: fadeIn 500ms 0ms, stay 2000ms 500ms, fadeOut 500ms 2500ms;
  -webkit-animation: fadeIn 500ms 0ms, stay 2000ms 500ms, fadeOut 500ms 2500ms;
  -moz-animation: fadeIn 500ms 0ms, stay 2000ms 500ms, fadeOut 500ms 2500ms;
  -o-animation: fadeIn 500ms 0ms, stay 2000ms 500ms, fadeOut 500ms 2500ms;
  -ms-animation: fadeIn 500ms 0ms, stay 2000ms 500ms, fadeOut 500ms 2500ms;
}

@keyframes fadeIn {
  0% {
    transform: translateX(-50%) translateY(-120%);
    opacity: 0;
  }
  100% {
    transform: translateX(-50%) translateY(0%);
    opacity: 1;
  }
}
@keyframes stay {
  0% {
    transform: translateX(-50%) translateY(0%);
  }
  100% {
    transform: translateX(-50%) translateY(0%);
  }
}
@keyframes fadeOut {
  0% {
    transform: translateX(-50%) translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-120%);
    opacity: 0;
  }
}/*# sourceMappingURL=message.css.map */