iframe {
  border: none;
}

body {
  height: 100%;
  overflow: hidden;
}

html {
  height: 100%;
  background-color: rgb(28, 31, 34);
  overflow: hidden;
}

button {
  background-color: rgb(44, 49, 53);
  color: white;
  border: none;
}

button[buttonIconType=CROSS] {
  top: 8px !important;
  right: 8px !important;
  transform: rotateZ(45deg) !important;
  font-size: 30px !important;
  background-color: rgba(0, 0, 0, 0) !important;
  color: white !important;
}

button[buttonIconType=CROSS]:hover {
  background-color: rgba(0, 0, 0, 0) !important;
  color: rgb(82, 90, 95) !important;
}

button[buttonIconType=CROSS]:active {
  background-color: rgba(0, 0, 0, 0) !important;
  color: rgb(30, 34, 37) !important;
}

button[selected] {
  background-color: rgb(21, 23, 25);
}

button:not([disabled]):hover {
  background-color: rgb(62, 70, 75);
}

button:not([disabled]):active {
  background-color: rgb(30, 34, 37);
}

option, select {
  background-color: rgb(44, 49, 53);
  color: white;
  border: none;
  height: 40px;
  outline: none;
}

input {
  background-color: rgb(44, 49, 53);
  color: white;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 10px;
}

h1, h2, h3, h4, h5, h6, span, p, label {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

::-webkit-scrollbar-track:hover {
  background-color: rgb(50, 50, 50);
  width: 10px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(120, 120, 120);
  width: 10px;
  border-radius: 5px;
}

:not(:hover)::-webkit-scrollbar {
  display: none;
}

#selectNameToLoadDiv, #insertNameForSaveInCookiesDiv, #managerCookiesDiv {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 18;
  background-color: rgb(44, 49, 53);
  width: 300px;
  height: auto;
  border: 1px solid rgb(62, 70, 75);
  padding: 20px;
}

#closeOpen,
#closeSave,
#closeManage {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 20px;
  height: 20px;
  font-size: 15px;
}

#titleOpenCookieName,
#titleSaveCookieName,
#titleManagerCookies {
  font-size: 30px;
  color: white;
  text-align: center;
  position: sticky;
  top: 0px;
  left: 0px;
}

#selectNameToLoad,
#insertNameForSaveInCookiesInput,
#allCookies {
  /* position: fixed; */
  /* top: 0px;
  left: 0px; */
  width: 100%;
  height: 35px;
  font-size: 15px;
  color: white;
  box-shadow: none;
  -webkit-appearance: text;
  -moz-apperarance: text;
  -o-appearance: text;
  -moz-appearance: text;
       appearance: text;
  outline: none;
  overflow: hidden;
  -webkit-box-shadow: text;
  -moz-box-shadow: text;
  -ms-box-shadow: text;
  -o-box-shadow: text;
  background-color: rgb(44, 49, 53);
  border: 1px solid rgb(160, 160, 160);
}

#deleteCookie {
  float: right;
  width: 30px;
  height: 35px;
}

#allCookies {
  width: 90%;
  float: left;
}

.buttons {
  width: 200px;
  height: 25px;
  float: right;
  margin-top: 15px;
  /* background-color: var(--); */
  position: sticky;
  bottom: 0px;
  right: 0px;
}

#selectNameToLoadOkBtn,
#selectNameToLoadCloseBtn,
#insertNameForSaveInCookiesOkBtn,
#insertNameForSaveInCookiesCloseBtn,
#managerCookiesClose {
  width: 100px;
}

#selectNameToLoadOkBtn,
#insertNameForSaveInCookiesOkBtn {
  float: left;
}

#selectNameToLoadCloseBtn,
#insertNameForSaveInCookiesCloseBtn,
#managerCookiesClose {
  float: right;
}

#selectNameToLoadDiv button {
  background-color: rgb(44, 49, 53);
  color: white;
}

#selectNameToLoadDiv button:hover {
  background-color: rgb(62, 70, 75);
}

#selectNameToLoadDiv button:active {
  background-color: rgb(30, 34, 37);
}/*# sourceMappingURL=OpenCloseDialog.css.map */